<h1>Your FJB Threads</h1>

<%= link_to 'Reload your thread list', kaskus_load_thread_websites_path %>

<table width="100%">
	<tr>
		<th>Title</th>
		<th>Created Date</th>
	</tr>
<% @websites.each do |w| %>
	<tr>
		<td>
			<%= w.title %>
		</td>
		<td><%= w.thread_create_date %></td>
	</tr>
<% end %>	
</table>
