<h1>Your FJB Threads</h1>

<table width="100%">
	<tr>
		<th>Title</th>
		<th>Created Date</th>
	</tr>
<% @kaskus_threads.each do |id, thread| %>
	<tr>
		<td>
			<%= thread.thread_title %>
		</td>
		<td><%= thread.created_date %></td>
	</tr>
<% end %>	
</table>
