<h1>Complete Your account</h1>

<div class="input-group">
  <span class="input-group-addon">Your Name</span>
  <input type="text" class="form-control" placeholder="Username" value="<%= @user.name %>">
</div>

<p>

<div class="input-group">
  <span class="input-group-addon">Email</span>
  <input type="text" class="form-control" placeholder="Email" value="<%= @user.email %>">
</div>