<button class="btn btn-facebook"><i class="icon-facebook"></i> | Connect with Facebook</button><br>
                    <button class="btn btn-twitter"><i class="icon-twitter"></i> | Connect with Twitter</button><br>
                    <button class="btn btn-github"><i class="icon-github"></i> | Connect with Github</button><br>
                    <button class="btn btn-pinterest"><i class="icon-pinterest"></i> | Connect with Pinterest</button><br>
                    <button class="btn btn-linkedin"><i class="icon-linkedin"></i> | Connect with LinkedIn</button><br>
                    <button class="btn btn-google-plus"><i class="icon-google-plus"></i> | Connect with Google Plus</button><br>
                    <button class="btn btn-instagram"><i class="icon-camera-retro"></i> | Connect with Instagram</button>